[Unit]
Description=Jboss Application Server
After=network.target

[Service]
Type=idle
User=jboss
Group=jboss
ExecStart={{jboss_home}}/jboss-as/bin/standalone.sh
TimeoutStartSec=600
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
